/* picture.rc: Win32 resource file for the keyboard picture
   Copyright (c) 2008 Marek Januszewski

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along
   with this program; if not, write to the Free Software Foundation, Inc.,
   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

   Author contact information:

   E-mail: philip-fuse@shadowmagic.org.uk

*/

#include "picture.h"

IDD_PICTURE     DIALOG DISCARDABLE 16, 16, 160, 138
STYLE           DS_MODALFRAME | WS_POPUP | WS_CAPTION
                | WS_SYSMENU
EXSTYLE         WS_EX_APPWINDOW
CAPTION         "Fuse - Keyboard"
BEGIN
  DEFPUSHBUTTON "Close", IDCLOSE, 108, 122, 50, 14
END
