<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C64-Vice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>C64UIComponents.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Emulator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Fuse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FuseZX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Ready.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ViceC64.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>base copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>common.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>core copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>diskimage copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>driveiee.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>driver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ffmpeg.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>fileio copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>fsdevice copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>fuse copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>fuse-libspectrum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gfxoutputdrv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>hwsiddrv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>iodrv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>joyport copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>midi copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>mididrv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>printerdrv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>rs232drv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>samplerdrv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>serial copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>socketdrv copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B540E9624A674E100F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B540F9424A9BBCE00F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B540FBF24A9BBEC00F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B54128224AB367700F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5412FF24AB9B0500F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B54134424AB9C6100F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B54138D24ABA44C00F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5413E324ABA59100F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B54143C24ABA66F00F6925B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FB802498DC0600A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FB982498E74400A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FC212498EA2600A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FC592498EB0400A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCA82498EC2500A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCB02498EC5000A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCB82498EC5F00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCC02498EC6C00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCC82498EC7C00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCD02498ECAD00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCD82498ECB900A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCE02498ECBF00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCE82498ECCE00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCF02498ECD400A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FCF82498ECD900A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD002498ECE000A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD082498ECE600A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD102498ECEB00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD202498ECF200A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD282498ECF700A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD302498ECFD00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD382498ED0000A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD402498ED0300A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD502498ED0800A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FD682498ED1400A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FE62249912EA00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FE83249912F900A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FE8B249912FD00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FE932499130000A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FE9B2499130900A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEA32499131000A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEAB2499131500A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEB32499131800A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEBB2499131D00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEC32499132000A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FECB2499132400A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FED32499132800A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEDB2499132F00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEE32499133400A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FEEB2499133900A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FF7D2499F0C900A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FF9E2499F0DF00A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FFDF2499F95600A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B68FFF52499FDD500A76E57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB22C0621E960B30075E694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
