<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Floppy525Document.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 5.25" Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.d64</string>
				<string>at.spiderlab.c64.g64</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>CartridgeDocument.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 Cartridge Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.x509-certificate</string>
				<string>com.apple.macbinary-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>FileDocument.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 Program File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.prg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>TapeDocument.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 Tape Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.t64</string>
				<string>at.spiderlab.c64.tap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Floppy35Document.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 3.5" Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.d81</string>
				<string>at.spiderlab.c64.d1m</string>
				<string>at.spiderlab.c64.d2m</string>
				<string>at.spiderlab.c64.d4m</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>REU Document.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 REU Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.reu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>IDE Hard Disk.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 Hard Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.hdd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Compact Flash Card.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Commodore 64 Compact Flash Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.cfa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Compact Disc Document.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Compact Disc Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.spiderlab.c64.iso</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>CBM.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.disk</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 1541 Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Floppy525Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.d64</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d64</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.disk</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 1541 Raw Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Floppy525Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.g64</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>g64</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.disk</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 1581 Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Floppy35Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.d81</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d81</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.disk</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore FD2000/FD4000 DD Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Floppy35Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.d1m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d1m</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.disk</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore FD2000/FD4000 HD Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Floppy35Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.d2m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d2m</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.disk</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore FD4000 ED Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Floppy35Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.d4m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d4m</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 Program File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>FileDocument.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.prg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>prg</string>
					<string>p00</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.tape</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 Tape Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>TapeDocument.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.t64</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>t64</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>at.spiderlab.c64.disk</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 Raw Tape Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>TapeDocument.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.tap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tap</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 REU Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>REU Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.reu</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>reu</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 Hard Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>IDE Hard Disk.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.hdd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hdd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 Compact Flash Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Compact Flash Card.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.cfa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cfa</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compact Disk Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Compact Disc Document.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>at.spiderlab.c64.iso</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iso</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 Cartridge Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>CartridgeDocument.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.macbinary-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Commodore 64 Cartridge Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>CartridgeDocument.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.x509-certificate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>crt</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
